################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

*.sqlite
*.dtbcache
*.lock
*.ide
*.ide-shm
*.ide-wal
/netcore/Akanami.Host/ConsoleHost/bin/Debug/netcoreapp3.0
/netcore/Akanami.Host/ConsoleHost/obj/Debug/netcoreapp3.0
/netcore/Akanami.Host/ConsoleHost/obj
/netcore/Akanami.AspNetCore/Akanami.AspNetCore/bin/Debug/netcoreapp3.0
/netcore/Akanami.AspNetCore/Akanami.AspNetCore/obj
/netcore/Akanami.Data/Akanami.EfCoreSqlite/bin/Debug/netcoreapp3.0
/netcore/Akanami.Data/Akanami.EfCoreSqlite/obj
